<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebGistats</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="container">
    <br>
    <h1>WebGistats  <small>一个可以用网页访问的gitstats工具</small></h1>
    <br>
    <div th:if="${check_result eq 1}" class="alert alert-warning alert-dismissible" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        依赖gnuplot,python等组件
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input id="repo_input" type="text" class="form-control" placeholder="请输入Git Repo地址...">
                <span class="input-group-btn">
                    <button onclick="addRepo()" class="btn btn-info" type="button">添加</button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Git仓库列表</div>
        <table class="table table-striped">
            <THEAD>
                <tr>
                    <th>项目名称</th>
                    <th>仓库地址</th>
                    <th>状态</th>
                    <th>删除</th>
                    <th>统计</th>
                </tr>
            </THEAD>
            <TBODY>
                <tr th:each = "repo:${all}">
                    <td th:text="${repo.name}" ></td>
                    <td th:text="${repo.addr}" ></td>
                    <td th:text="${repo.status}" ></td>
                    <td><a th:href="${'/del/' + repo.id}">delete</a></td>
                    <td><a th:href="${'/statis/' + repo.id}">statis</a></td>
                </tr>
            </TBODY>
        </table>
    </div>
</body>
<script type="text/javascript">
    function addRepo() {
        var repoAddrInput = $("#repo_input");
        var addr = repoAddrInput.val();
        alert("addRepo: " + addr);
        repoAddrInput.val("");
    }
</script>
</html>
