<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebGistats</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<!--    <meta http-equiv="refresh" content="10">-->
</head>
<body class="container">
    <br>
    <h1>WebGistats  <small>一个可以用网页访问的gitstats工具</small></h1>
    <br>
    <div id="hint-box" th:if="${errMsg} != null" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span id="hint-content" th:text="${errMsg}"></span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input id="repo-input" type="text" class="form-control" placeholder="请输入Git Repo地址...">
                <span class="input-group-btn">
                    <button onclick="addRepo()" class="btn btn-info" type="button">添加</button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Git仓库列表</div>
        <table class="table table-striped">
            <THEAD>
                <tr>
                    <th>项目名称</th>
                    <th>仓库地址</th>
                    <th>状态</th>
                    <th>删除</th>
                    <th>统计</th>
                </tr>
            </THEAD>
            <TBODY>
                <tr th:each = "repo:${all}">
                    <td th:text="${repo.name}" ></td>
                    <td th:text="${repo.addr}" ></td>
                    <td th:text="${repo.status}" ></td>
                    <td>
                        <a href="#" th:onclick="${'deleteRepo(' + repo.id + ')'}">删除</a>
                    </td>
                    <td>
                        <a th:href="${'/stats/' + repo.dir + '/index.html'}"
                           target="_blank" style="text-decoration:underline;">查看</a>
                    </td>
                </tr>
            </TBODY>
        </table>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="msg-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示
                    </h4>
                </div>
                <div id="msg-content" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
<script type="text/javascript">
    function addRepo() {
        var repoAddrInput = $("#repo-input");
        var addr = repoAddrInput.val().trim();
        $.ajax({
            type: 'POST',
            url: '/add/',
            data: {'addr': addr},
            success: function (data) {
                console.log("data: " + data.message + " " + data.success);
                if (data && data.success) {
                    $("#msg-content").html("添加成功！");
                } else {
                    $("#msg-content").html("添加失败:" + data.message);
                }
                $(function () { $('#msg-box').modal('show')});
                repoAddrInput.val("");
            },
            dataType: 'json'
        });
    }

    function deleteRepo(id) {
        console.log("delete id: " + id);
        $.ajax({
            type: 'DELETE',
            url: '/del/' + id,
            success: function (data) {
                console.log("data: " + data.message + " " + data.success);
                if (data && data.success) {
                    $("#msg-content").html("删除成功！");
                } else {
                    $("#msg-content").html("删除失败:" + data.message);
                }
                $(function () { $('#msg-box').modal('show')});
            },
            dataType: 'json'
        });
    }

    $('#msg-box').on('hide.bs.modal', function () {
        $(location).attr('href', '/list');
    })

    $('#msg-box').on('hidden.bs.modal', function () {
        $(location).attr('href', '/list');
    })
</script>
</html>
